body{
	background-image: url("background.jpg ");
 	background-repeat: no-repeat;
 	background-size: 1380px 680px; 
 	color: #ffffff;
 	font-family:"Times New Roman", Arial;
 	
}
div#intro{
	position: absolute;
	top:30%;
	left: 28%;
	height: 200px;
	width: 500px;
  	padding: 5px;
  	font-size: 20px;
	text-align: justify;
	border-width: 200px 600px;
}
div.at{ 
	    position: absolute;
		top: 28%;
		left:70%;
		border:5px blue;
        padding: 0px;
        
       
}
div.sch{
	position: absolute;
	top:50%;
	left: 60%;
	height: 200px;
	width: 500px;
  	padding: 5px;
  	font-family: "Times New Roman" , Arial;
  	font-size: 20px;
	text-align: justify;
	border-width: 200px 600px;
	float: left;
}
div.col{
	position: absolute;
	top:5%;
	left: 60%;
	height: 200px;
	width: 500px;
  	padding: 5px;
  	font-family: "Times New Roman" , Arial;
  	font-size: 20px;
	text-align: justify;
	border-width: 200px 600px;
}
div.mid{
	position: absolute;
	top:40%;
	left: 2%;
	height: 200px;
	width: 500px;
  	padding: 5px;
  	font-family: "Times New Roman" , Arial;
  	font-size: 20px;
	text-align: justify;
	border-width: 200px 600px;

h3.anu{
	color: #01DF01;
	font-family: "Century Schoolbook L";
	font-size: 35px;
}
h1.head{
	color: #0489B1;
	font-family: "Century Schoolbook L";
}
/*ul#index{
	list-style-type: none;	
	float: right;
 	clear: left;
}
ul#index li{
	display: inline;
	padding: 2px;
	text-decoration: none;

}*/
 a{
	background-color: orange;
	color: white;
	padding: 10px 30px;
	text-decoration: none;
	border-radius: 6px;
	
}
a:hover{
	background-color: #0A0A2A /* #0489B1 */;
}